
.background{
    /* background: url(../img/fertilizer.jpg); */
}

p {
    margin: 0 0 10px;
    color: #131212;
    font-size: 17px;
    background: #fdff7c38;
    border-radius: 9px;
}

.h2, h2 {
    font-size: 35px;
    color: #1505ff;
}

.h3, h3 {
    font-size: 24px;
    color: #05f91998;
}
.post{
	padding: 20px;
	/* background: transparent; */
	background: rgba(4, 0, 255, 0.384);
	font-size: 18px;
}
#more{
	display: none;
}
#more2{
	display: none;
}
#more3{
	display: none;
}
#more4{
	display: none;
}
#more5{
	display: none;
}





